{% extends "indexbase.html" %}

{% block content %}

<div class="container">
  {% for product in details %}
       <div class="row" id="full_row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <img src="{{ product.image }}" style="height:250px; width:250px;  margin-left: auto;
                    margin-right: auto;">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        {{product.name}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{product.category}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{product.price}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{product.discount }}
                    </div>
                </div>

            </div>

       </div>
  {% endfor %}

</div>

{% endblock %}
